<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Family Map Client.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D8CAF2521A88D4B0097F032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D8CAF3921A88D4E0097F032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D8CAF4421A88D4E0097F032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
